/* @media must below class specification */

* {
  box-sizing: border-box;
  font-weight: 350;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.pagination {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 0px;
}

.pagination-page {
  margin: 0 3px;
  cursor: pointer;
}

.pagination-link {
  padding: 0 8px;
  border: 1px solid black;
}

.nextClassName {
  margin-left: 5px;
  cursor: pointer;
}

.previousClassName {
  margin-right: 5px;
  cursor: pointer;
}

.activeLinkClass {
  background-color: #888;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Header */

.search-input {
  /* border: 3px solid green; */
  outline: none;
  background-color: rgb(232, 232, 232);
  border: none transparent;
  flex-grow: 1;
  height: 100%;
  font-size: 1rem;
  cursor: text;
  text-align: start;
}

.faSearch {
  width: 20px;
  height: 20px;
  color: gray;
}

.header-cover {
  /* border: 3px hidden red; */
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 50;
  display: flex;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.header-left {
  /* border: 2px solid yellow; */
  width: 60%;
  overflow: hidden;
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.logo {
  /* border: 2px solid green; */
  width: 130px;
  height: 80px;
  outline: none;
  cursor: pointer;
  margin-left: 17vw;
  transition: all 1.5s;
}

.search {
  /* border: 1px solid red; */
  background-color: rgb(232, 232, 232);
  padding: 5px;
  width: 280px;
  height: 30px;
  display: flex;
  border-radius: 10px;
  align-items: center;
}

.header-right {
  /* border: 2px solid yellow; */
  display: flex;
  /* justify-content: center; */
  padding-left: 5%;
  align-items: center;
  height: 55px;
  width: 40%;
  flex-grow: 1;
}

.icon {
  /* border: 1px solid goldenrod; */
  color: black;
  cursor: pointer;
  min-height: 45px;
  min-width: 45px;
  padding: 8px 10px;
  border-radius: 8px;
}

.icon-user {
  border-radius: 50%;
  margin-top: 2px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.icon:hover {
  background-color: rgb(232, 232, 232);
}

.icon:active {
  border-bottom: 2px solid blue;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  background-color: #f1f1f1;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 51;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}

/* Main content */
.main {
  /* Flex row container */
  /* border: 3px solid orange; */
  display: flex;
  /* height: 100%; */
  /* height: 100vh; */
}


.bar-left {
  /* Flex row item */
  /* border: 5px solid rgb(151, 115, 136); */
  width: 23vw;
  /* height: 100vh; */
  flex: 1 1 auto;
}

.bar-center {
  /* Flex row item */
  /* border: 1px solid rgb(133, 115, 151); */
  /* width: 600px; */
  /* height: 100vh; */
  flex: 0 0 600px;
}

.bar-right {
  /* Flex row item */
  /* border: 5px solid rgb(115, 151, 134); */
  width: 38vw;
  /* height: 100vh; */
  flex: 1 0 40%;
}

.bar-right-avatar {
  /* border: 1px solid skyblue; */
  flex: 0 1 100px;
}

.bar-right-avatar>img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.gallery-cover {
  /* border: 3px solid violet; */
  display: flex;
  /* grid-template-columns: 20% 60% 20%; */
}

.gallery {
  width: 100%;
}

.profile-bar-left {
  /* border: 1px solid green; */
  flex: 0 1 20%;
}

.profile-bar-right {
  /* border: 3px solid red; */
  flex: 0 1 20%;
}

.profile-bar-center {
  /* border: 1px solid green; */
  flex: 1 0 1000px;
}

@media only screen and (max-width: 1024px) {
  .bar-right {
    display: none;
  }

  .bar-left {
    display: none;
  }

  .main {
    justify-content: space-evenly;
  }

  .logo {
    margin-left: 0;
    transition: all 1.5s;
  }

  .profile-bar-left {
    display: none;
  }

  .profile-bar-center {
    flex: 1 1 50px;
  }

  .profile-bar-right {
    display: none;
  }
}

@media only screen and (max-width: 640px) {
  .bar-center {
    width: 100vw;
    flex: 1 1 auto;
  }
}

.profile-cover {
  /* border: 1px solid yellow; */
  /* display: grid;
  grid-template-columns: 20% 60% 20%; */
  /* width: 100%; */
  display: flex;
}

.profile-header {
  /* border: 1px solid navajowhite; */
  height: 30vh;
  min-height: 250px;
  display: grid;
  /* grid-template-columns: repeat(8, 50px) repeat(auto-fill, minmax(0, 50px)); */
  grid-template-columns: repeat(auto-fill, minmax(0, 50px));
  grid-template-rows: repeat(auto-fill, 50px);
  /* gap: 5px; */
}

.profile-avatar {
  /* border: 1px solid orangered; */
  grid-column: 1 / 6;
  grid-row: 1 / 5;
  padding-top: 35px;
}

.profile-avatar>img {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  cursor: pointer;
}

.profile-avatar>input {
  display: none;
}

.profile-username {
  /* border: 1px solid orangered; */
  grid-column: 6 / 10;
  grid-row: 1 / 3;
  align-self: center;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
  font-size: 28px;
  line-height: 32px;
  /* margin: -5px 0 -6px; */
}

.profile-message {
  grid-column: 10 / 12;
  grid-row: 1 / 3;
  align-self: center;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgb(140, 130, 115);
  width: fit-content;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.profile-follow {
  border: 1px solid rgb(140, 130, 115);
  grid-column: 12 / 13;
  grid-row: 1 / 3;
  align-self: center;
  justify-self: end;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  line-height: 18px;
  width: fit-content;
  padding: 0 5px 0 5px;
  cursor: pointer;
}

.profile-suggestion {
  grid-column: 13 / 14;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
  border: 1px solid rgb(140, 130, 115);
  transform: scale(1.3);
}

.profile-option {
  /* border: 1px solid rgb(140, 130, 115); */
  grid-column: 13 / 15;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
  transform: scale(1.3);
}

.profile-posts {
  /* border: 1px solid rgb(140, 130, 115); */
  grid-column: 6 / 8;
  grid-row: 2 / 4;
  justify-self: center;
  align-self: center;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.profile-followers {
  /* border: 1px solid rgb(140, 130, 115); */
  grid-column: 8 / 10;
  grid-row: 2 / 4;
  justify-self: center;
  align-self: center;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.profile-following {
  /* border: 1px solid rgb(140, 130, 115); */
  grid-column: 10 / 12;
  grid-row: 2 / 4;
  justify-self: center;
  align-self: center;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.profile-info {
  /* border: 1px solid rgb(140, 130, 115); */
  grid-column: 6 / 19;
  grid-row: 4 / 5;
  max-height: 100px;
  padding-left: 16px;
  margin-top: -20px;
  justify-self: stretch;
  align-self: start;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: start;
  overflow: hidden;
  word-wrap: break-word;
  /* overflow-wrap: break-word; */
  text-overflow: ellipsis;
  hyphens: auto;
  /* text-align: left; */
  cursor: pointer;
}

@media only screen and (max-width: 735px) {
  .profile-avatar {
    /* border: 1px solid orangered; */
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    justify-self: end;
    align-self: end;
    padding-top: 35px;
  }

  .profile-avatar>img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    cursor: pointer;
  }

  .profile-avatar>input {
    display: none;
  }

  .profile-username {
    /* border: 1px solid orangered; */
    grid-column: 3 / 7;
    grid-row: 1 / 2;
    align-self: end;
    color: rgba(var(--i1d, 38, 38, 38), 1);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    cursor: text;
  }

  .profile-option {
    /* border: 1px solid rgb(140, 130, 115); */
    grid-column: 7 / 8;
    grid-row: 1 / 2;
    margin-bottom: 10px;
    justify-self: center;
    align-self: end;
    transform: scale(1.3);
    cursor: pointer;
  }

  .profile-message {
    border: 1px solid rgb(140, 130, 115);
    grid-column: 3 / 7;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: center;
    /* width: max-content; */
    padding: 5px 50px 2px 50px;
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-overflow: ellipsis;
    cursor: pointer;
  }

  .profile-follow {
    border: 1px solid rgb(140, 130, 115);
    grid-column: 7 / 8;
    grid-row: 2 / 3;
    align-self: center;
    justify-self: start;
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    line-height: 18px;
    width: fit-content;
    padding: 0 5px 0 5px;
    cursor: pointer;
  }

  .profile-suggestion {
    border: 1px solid rgb(140, 130, 115);
    grid-column: 8 / 9;
    grid-row: 2 / 3;
    justify-self: end;
    align-self: center;
    transform: scale(1.3);
  }

  .profile-info {
    /* border: 1px solid rgb(140, 130, 115); */
    grid-column: 1 / 12;
    grid-row: 3 / 8;
    max-height: 100px;
    padding-left: 16px;
    /* margin-top: -20px; */
    justify-self: stretch;
    align-self: center;
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    overflow: hidden;
    word-wrap: break-word;
    /* overflow-wrap: break-word; */
    text-overflow: ellipsis;
    hyphens: auto;
    /* text-align: left; */
    cursor: pointer;
  }

  .profile-posts {
    /* border: 1px solid red; */
    grid-column: 1 / 3;
    grid-row: 8 / 9;
    justify-self: center;
    align-self: center;
    margin-top: -35px;
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .profile-followers {
    /* border: 1px solid red; */
    grid-column: 3 / 6;
    grid-row: 8 / 9;
    justify-self: center;
    align-self: center;
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -35px;
  }

  .profile-following {
    /* border: 1px solid red; */
    grid-column: 6 / 9;
    grid-row: 8 / 9;
    justify-self: center;
    align-self: center;
    color: rgba(var(--i1d, 38, 38, 38), 1);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: -35px;
  }

}

.profile-images {
  /* border: 2px solid salmon; */
  /* background-color: salmon; */
  display: grid;
  grid-template-columns: repeat(3, minmax(20px, 33%));
  /* grid-template-rows: repeat(auto-fit, minmax(20px, 33%)); */
  gap: 10px;
}

.profile-images-item {
  /* border: 1px solid #0000ff; */
  background-color: lightblue;
  place-self: stretch;
  height: 100%;
  cursor: pointer;
}

.profile-images-item>img {
  width: 100%;
  height: 100%;
  /* min-width: 50px; */
}

@media only screen and (max-width: 735px) {
  .profile-images {
    /* border: 2px solid salmon; */
    /* background-color: salmon; */
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(3, minmax(20px, 33%));
    /* grid-template-rows: repeat(auto-fit, minmax(20px, 33%)); */
  }
}

.story-icon {
  /* border: 1px solid orangered; */
  border-radius: 50%;
  padding: 0px;
  width: 65px;
  height: 65px;
  margin-left: 15px;
}

.story-cover {
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: flex-start;
  padding: 15px 0;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-bottom: 20px;
}

.story-icon:hover {
  /* border: 3px solid orangered; */
}

/* Post field */
.post {
  /* border: 1px solid seagreen; */
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.post-cover {
  /* border: 1px solid rgba(var(--darkreader-border--b6a, 58, 63, 65), 1); */
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  margin-bottom: 20px;
}

.icon-user-1 {
  border-radius: 50%;
  width: 52px;
  height: 47px;
  margin-left: 5px;
}

.post-info-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-info {
  /* border: 1px solid chartreuse; */
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  ;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.post-option {
  margin-right: 15px;
  transform: scale(1.2);
  cursor: pointer;
}

.post-picture {
  /* border: 1px solid seagreen; */
  width: 100%;
  /* min-height: 332px; */
}

.post-picture img {
  width: auto;
  max-width: 100%;
}

.post-picture-number {
  /* border: 1px solid seagreen; */
  height: 0px;
}

.post-interact-container {
  /* Flex column item */
  /* Flex row container */
  /* border: 1px solid violet; */
  display: flex;
}

.post-interact {
  /* Flex row item */
  /* Flex row container */
  /* border: 1px solid seagreen; */
  /* width: 100%; */
  flex: 1 1;
  /* height: 170px; */
  display: flex;
  flex-direction: row;
}

.post-interact-icon-list {
  /* Flex row item */
  /* Flex row container */
  /* border: 1px solid seagreen; */
  width: 100%;
  display: flex;
  padding-left: 5px;
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
}

.post-interact-icon {
  /* Flex row item */
  padding-top: 0px;
  /* margin-top: 0px; */
}

.post-interact-info {
  /* border: 1px solid seagreen; */
  text-align: start;
  padding-bottom: 12px;
  width: 100%;
}

.post-interact-info img {
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}

.post-interact-like-sum {
  /* border: 1px solid green; */
  padding-left: 15px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.post-interact-caption {
  font-weight: 600;
  padding-left: 15px;
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  line-height: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

.post-interact-caption-content {
  color: rgba(var(--i1d, 38, 38, 38), 1);
  font-size: 14px;
  line-height: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.post-date {
  color: rgb(161, 152, 140);
  padding-left: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.post-comment-cover {
  /* width: 100%; */
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.post-comment-icon {
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
}

.HiOutlineEmojiHappy {
  transform: scale(1.7);
  width: 100%;
  margin-left: 2px;
}

.post-comment-icon input {
  outline: none;
  text-align: start;
  cursor: text;
  font-size: 0.9rem;
  padding: 10px 10px 10px 20px;
  border: none transparent;
  background-color: transparent;
}

.post-comment-post {
  color: rgb(32, 167, 255);
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  /* Flex row container */
  /* display: block; Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 50;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.8);
  /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* The Close Button */
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  /* z-index: 1; */
  transform: scale(3);
  color: whitesmoke;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Content */
.modal-content {
  /* Flex row item */
  /* Flex column */
  background-color: #fefefe;
  /* background-color: (var(--b3f, 250, 250, 250), 1); */
  border: 1px solid #888;
  flex: 0 0 490px;
  height: 75%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.modal-content-full {
  background-color: #fefefe;
  /* margin: auto; */
  /* padding: 20px; */
  border: 1px solid #888;
  flex: 0 0 790px;
  height: 75%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media only screen and (max-width: 900px) {
  .modal-content {
    flex: 0 1 53vw;
    height: 60vw;
    min-width: 300px;
    min-height: 300px;
  }

  .modal-content-full {
    flex: 0 1 94vw;
    height: 60vw;
    min-width: 698px;
    min-height: 410px;
  }
}

.modal-intro {
  border-bottom: 1px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 6px 0;
  flex: 0 0 auto;
  font-weight: 500;
}

.modal-intro-preview {
  /* Flex column item */
  /* Flex row */
  /* border: 1px solid seashell; */
  border-bottom: 1px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 6px 0px;
  flex: 0 0 auto;
  display: flex;
}

.modal-intro-preview-item-1 {
  /* Flex row item */
  /* border: 1px solid seashell; */
  flex: 0 0 45px;
  align-self: center;
  cursor: pointer;
  transform: scale(1.3);
}

.modal-intro-preview-item-2 {
  /* Flex row item */
  /* border: 1px solid seashell; */
  align-self: center;
  flex: 1 1 auto;
  justify-items: stretch;
}

.modal-intro-preview-item-3 {
  /* Flex row item */
  /* border: 1px solid seashell; */
  align-self: center;
  flex: 0 0 45px;
  color: rgb(32, 167, 255);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.modal-upload-column {
  /* Flex column item*/
  /* Flex column*/
  /* border: 3px solid gold; */
  flex: 1 1 100px;
  border-radius: 0 0 15px 15px;
  /* Ignore Width */
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 0 0 15px 15px;
  overflow: hidden;
}

.modal-preview {
  /* Flex row item */
  /* Flex row */
  display: flex;
  height: 100%;
}

.modal-preview-image {
  /* flex row item */
  /* border: 1px solid greenyellow; */
  background-color: black;
  flex: 0 1 490px;
  align-self: center;
  height: 100%;
  overflow: hidden;
}

.modal-file {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* transform: scale(1.52); */
}

.modal-file>img {
  border-radius: 0 0 15px 15px;
  width: 100%;
  /* height: 100%; */
}

.modal-upload-caption {
  /* border: 3px solid blue; */
  /* background-color: #61dafb; */
  flex: 1 0 295px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

textarea {
  outline: none;
  border: transparent;
  background: 0 0;
  padding-left: 10px;
}

.modal-upload-emoji-cover {
  /* border: 1px solid salmon; */
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
  padding: 0 10px 12px 7px;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.modal-upload-emoji {
  /* margin-top: 5px; */
  transform: scale(1.5);
  color: gray;
  cursor: pointer;
}

.textarea-length {
  /* border: 1px solid seagreen; */
  flex: 1 1 auto;
  justify-items: end;
  text-align: end;
  color: rgb(159, 151, 139);
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.AiOutlinePicture {
  transform: scale(4);
  color: #292b2eb4;
  /* margin: 15px; */
}

.modal-upload-input {
  /* border: 1px solid blue; */
  color: transparent;
  width: 89px;
  transform: scale(1.2);
}

.btn-skip {
  border-radius: 2px;
  margin-top: 10px;
  padding: 0 15px;
  color: #61dafb;
}

@media only screen and (max-height: 410px) {
  .modal-intro {
    display: none;
  }
}

.dropdown-cover {
  /* border: 1px solid red; */
}

/* ______________________________ */
/* For post modal */

.modal-content-full-1 {
  /* Flex row item */
  /* Flex row container */
  border: 1px solid #888;
  background-color: #fefefe;
  border-radius: 15px;
  /* flex: 0 0 1150px; */
  flex: 0 0 76vw;
  height: 45vw;
  display: flex;
  justify-content: flex-start;
  /* align-items: stretch;    */
}

/* important */
.modal-preview-1 {
  /* Flex row item */
  /* Flex row */
  /* border: 1px solid khaki; */
  border-radius: 15px;
  display: flex;
  height: 100%;
  /* width: 100%; */
}

.modal-image {
  /* flex row item */
  /* border: 1px solid greenyellow; */
  border-radius: 15px 0 0 15px;
  background-color: black;
  /* flex: 0 1 690px; */
  flex: 1 0 44vw;
  align-self: center;
  height: 100%;
  overflow: hidden;
}

.modal-file-1 {
  /* Flex row container */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* transform: scale(1.52); */
}

.modal-file-1>img {
  /* Flex row item */
  flex-shrink: 1;
  flex-grow: 1;
  width: 100%;
  /* height: 100%; */
}

.modal-caption-cover {
  /* Flex row item */
  /* Flex column container */
  border: 1px solid blue;
  border-radius: 0 15px 15px 0;
  /* background-color: #61dafb; */
  /* align-self: stretch; */
  /* height: 100%; */
  /* flex: 0 0 493px; */
  flex: 1 0 32vw;
  /* flex: 1 1 5vw; */
  /* width: 32vw; */
  /* min-width: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* height: 200px; */
}

.modal-caption-1 {
  /* Flex column item */
  /* Flex column container */
  /* border: 3px solid blue; */
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  /* background-color: #61dafb; */
  /* height: 100%; */
  flex: 1 0 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: auto;
}

.post-info-1 {
  /* Flex column item */
  /* Flex row container */
  flex: 0 1 auto;
  /* auto to grow to fit content */
  display: flex;
  width: 100%;
  align-items: center;
}

.username-and-caption {
  /* Flex row item */
  /* border: 1px solid violet; */
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: left;
  cursor: pointer;
  color: rgba(var(--f75, 38, 38, 38), 1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.username-and-caption>span {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 810px) {
  .modal-caption {
    display: none;
  }

  .modal-content-full-1 {
    /* Flex row item */
    /* Flex row container */
    /* border: 1px solid #888; */
    /* border: 5px solid navajowhite; */
    background-color: #fefefe;
    border-radius: 15px;
    /* flex: 0 0 1150px; */
    flex: 0 0 500px;
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: stretch;    */
  }

  .modal-preview-1 {
    /* Flex row item */
    /* Flex row container */
    border: 3px solid green;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transform: scale(1.52); */
  }

  .modal-image {
    /* flex row item */
    /* border: 1px solid greenyellow; */
    border-radius: 15px;
    background-color: black;
    flex: 0 1 250px;
    width: 250px;
    align-self: center;
    height: 100%;
    overflow: hidden;
  }

  .modal-file-1 {
    /* Flex row container */
    /* border: 1px solid blue; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transform: scale(1.52); */
  }
}

.modal-comment {
  /* Flex column item */
  /* border: 1px solid salmon; */
  display: flex;
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 0 0 15px 0;
  align-items: center;
  justify-content: flex-start;
  justify-content: space-between;
  padding: 10px;
}

/* Option Content */
.option-content {
  /* Flex row item */
  /* Flex column container */
  background-color: #fefefe;
  /* background-color: (var(--b3f, 250, 250, 250), 1); */
  border: 1px solid #888;
  flex: 0 0 400px;
  /* height: 75%; */
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.option-content-item {
  /* Flex column item */
  /* border: 1px solid blueviolet; */
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  padding: 12px;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown a {
  /* border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1); */
  cursor: pointer;
}

.dropdown a:nth-child(3) {
  /* border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1); */
  border-top: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #2980B9;
}

.login {
  /* Flex row container */
  /* border: 1px solid lightblue; */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
}

.login-item {
  /* Flex row item */
  /* Flex column container */
  border: 1px solid rgb(140, 130, 115);
  margin-top: 40px;
  padding: 0px 40px 60px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-item input {
  /* Flex column item */
  /* margin: 10px; */
  border: 1px solid rgb(140, 130, 115);
  background: rgba(var(--b3f, 250, 250, 250), 1);
  color: rgba(var(--i1d, 38, 38, 38), 1);
  padding: 9px 0 7px 8px;
  width: 280px;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 5px auto;
}

.login-item button {
  /* Flex column item */
  border: transparent;
  text-align: center;
  margin: 3px auto;
  margin-top: 8px;
  margin-bottom: 20px;
  width: 280px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-overflow: ellipsis;
  background-color: rgba(var(--d69, 0, 149, 246), .3);
  color: white;
  cursor: pointer;
}

.login-logo {
  /* Flex column item */
  /* border: 1px solid cadetblue; */
  width: 200px;
  /* height: 80px; */
  /* margin-bottom: -30px; */
}

.login-item span {
  color: rgb(32, 167, 255);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}